@page "/books"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@using Microsoft.AspNetCore.Components.QuickGrid

@inject BooksApiClient BooksApi

<PageTitle>My books</PageTitle>

<h1>Books</h1>

@if (_books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@_books.AsQueryable()" Class="table table-striped">
        <PropertyColumn Property="@(b => b.Title)" Title="Title" Sortable="true" />
        <PropertyColumn Property="@(b => b.Author)" Title="Author" Sortable="true" />
        <TemplateColumn Title="Status" Sortable="true" SortBy="GridSort<Book>.ByAscending(b => b.Status)">
            @switch (context.Status)
            {
                case ReadStatus.NotRead:
                    <i class="bi bi-book text-danger" title="Not Read"></i>
                    break;
                case ReadStatus.Reading:
                    <i class="bi bi-book-half text-warning" title="Currently Reading"></i>
                    break;
                case ReadStatus.Read:
                    <i class="bi bi-book-fill text-success" title="Finished Reading"></i>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </TemplateColumn>
        <TemplateColumn Title="Own" Sortable="true" SortBy="GridSort<Book>.ByAscending(b => b.Own)">
            @if (context.Own)
            {
                <i class="bi bi-check-lg text-danger" title="I own this book"></i>
            }
            else
            {
                <i class="bi bi-x-lg text-muted" title="I don't own this book"></i>
            }
        </TemplateColumn>
        <TemplateColumn Title="Fiction" Sortable="true" SortBy="GridSort<Book>.ByAscending(b => b.Fiction)">
            @if (context.Fiction)
            {
                <i class="bi bi-book text-primary" title="Fiction"></i>
            }
            else
            {
                <i class="bi bi-file-text text-secondary" title="Non-fiction"></i>
            }
        </TemplateColumn>
    </QuickGrid>
}

@code {
    private Book[]? _books;

    protected override async Task OnInitializedAsync()
    {
        _books = await BooksApi.GetBooks();
    }
}
