@page "/books"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject BooksApiClient BooksApi

<PageTitle>My books</PageTitle>

<h1>Books</h1>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Own</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Status.ToString()</td>
                    <td>@book.Own</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Book[]? books;

    protected override async Task OnInitializedAsync()
    {
        books = await BooksApi.GetBooks();
    }
}
